<div class="container">
  <h1 id="title">Molefe's Play Time App</h1>

  <div style="margin-bottom: 20px">
    <label for="className">Class Name: </label>
    <input id="className" [(ngModel)]="className">
    <label for="studentName">Student Name: </label>
    <input id="studentName" [(ngModel)]="studentName">
  </div>
  <div style="margin-bottom: 20px">
    <button class="btn btn-primary" (click)="onAddNewStudentToClass()">Submit</button>
  </div>
  <div class="card" *ngFor="let student of students">
    <div class="card-header">
      {{student.className}}
    </div>
    <div class="card-body">
      {{student.studentName}}
    </div>
  </div>
</div>

